@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --txt: rgb(50, 50, 50)
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--txt)
}

img {
    width: 5rem;
    height: auto;
}

.body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.sidebar {
    display: flex;
    background: no-repeat url("../bgimg.jpg");
    color: aliceblue;
    flex-direction: column;
    position: relative;
    width: 30%;
}

.logo {
    background-color: rgb(32, 32, 32, 0.5);
    font-size: 5rem;
    padding: 25px;
    margin-top: 200px;
    justify-self: center;
    text-align: center;
}

footer {
    margin-top: auto;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 70%;
    padding: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.section-three, .form-container {
    height: 40%;
}

.header {
    height: 40%;
}

.columns {
    display: flex;
}

.col-one, .col-two {
    display: flex;
    flex-direction: column;
}

.section-three {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: 100%;
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    font-size: 16px;
    border-radius: 5px;
    background-color: #596D48;
    padding: 10px;
    color: aliceblue;
}

a {
    color: #596D48;
    text-decoration: none;
}