@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100vh;
    background-color: rgb(36, 36, 36);
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    line-height: calc(1em + 0.5vw);
    align-items: center;
    justify-content: center;
}

img {
    width: 5rem;
    height: auto;
}

.body {
    display: flex;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.sidebar {
    display: flex;
    background: no-repeat url("../bgimg.jpg");
    background-size: 550px 967px;
    width: 35%;
    color: aliceblue;
    flex-direction: column;
    position: relative;
}
.main {
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.header {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    width: 80%;
}

.logo {
    display: flex;
    background-color: rgb(32, 32, 32, 0.5);
    font-size: 5rem;
    padding: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

h1, div+p {
    margin-left: 15px;
}

.form-container {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.columns {
    gap: 50px;
}

footer {
    position: absolute;
    font-size: 16px;
    bottom: 0;
    text-align: center;
    justify-content: center;
}

fieldset {
    border: none;
    position: relative;
}

fieldset > div {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
}

fieldset > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: 100%;
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    font-size: 16px;
    border-radius: 5px;
    background-color: #596D48;
    padding: 10px;
    color: aliceblue;
}

a {
    color: #596D48;
    text-decoration: none;
}

.section {
    padding: 25px;
}